.Todo {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #ddd;
}

.Todo:hover {
  background: #fea;
}

.Todo___done {
  text-decoration: line-through;
}

.RemoveTodo {
  margin-left: 10px;
  border-radius: 4px;
}

